body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  color: #fff;
}

.navlink {
  font-family: Lato, sans-serif;
  color: #7d8e8a;
  font-weight: 700;
}

.navlink.w--current {
  color: #324c3b;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #ded5d5;
}

.microcopy {
  position: relative;
  top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.microcopy-tittle {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #324c3b;
  font-size: 42px;
  font-weight: 300;
  text-align: left;
}

.microcopy-pre-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #324c3b;
}

.microcopy-text {
  margin-bottom: 20px;
  color: #7d8e8a;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.button-line {
  padding: 20px 40px;
  border: 1px solid #324c3b;
  background-color: transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #324c3b;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
}

.button-line:hover {
  background-color: #324c3b;
  color: #fcfcfc;
}

.button-line:active {
  background-color: #324c3b;
  box-shadow: none;
}

.button-line:focus {
  background-color: transparent;
}

.button-line.fullwidth {
  width: 100%;
}

.section {
  padding: 65px 0px;
}

.section.odd {
  background-color: hsla(166, 7%, 52%, .15);
}

.section.bg-about {
  background-image: -webkit-linear-gradient(270deg, rgba(39, 39, 39, .8), rgba(39, 39, 39, .8)), url('../images/preview.jpg');
  background-image: linear-gradient(180deg, rgba(39, 39, 39, .8), rgba(39, 39, 39, .8)), url('../images/preview.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  color: #fff;
}

.section.cta {
  background-color: #3b0086;
}

.section.cta.white {
  background-color: #324c3b;
  background-image: -webkit-linear-gradient(270deg, rgba(50, 76, 59, .98), rgba(50, 76, 59, .98)), url('../images/whatsapp-logo.svg');
  background-image: linear-gradient(180deg, rgba(50, 76, 59, .98), rgba(50, 76, 59, .98)), url('../images/whatsapp-logo.svg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
  color: #fff;
}

.section.footer {
  padding: 40px 60px;
  border-top: 1px solid rgba(9, 46, 0, .15);
  background-color: #fcfcfc;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.section.parceiros {
  background-color: #1e1e1e;
}

.container {
  display: block;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
}

.container.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-header {
  display: block;
  max-width: 500px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.section-header.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.section-header.margin-bottom {
  margin-bottom: 40px;
}

.section-title {
  margin-bottom: 10px;
  padding: 15px;
  border-bottom: 3px solid #324c3b;
  font-family: Lato, sans-serif;
  font-size: 42px;
  font-weight: 300;
  letter-spacing: -1px;
}

.section-title.white {
  border-bottom-color: #fcfcfc;
  color: #fcfcfc;
}

.section-header--subtitle {
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #324c3b;
  font-size: 15px;
}

.section-header--subtitle.white {
  color: #fff;
}

.section-header--subtitle.margin-bottom {
  margin-bottom: 20px;
}

.section-header--text {
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #7d8e8a;
  font-size: 15px;
}

.section-header--text.space-bot {
  margin-bottom: 50px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-container.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex-container.gallery {
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex-container.reverse {
  margin-bottom: 0px;
}

.flex-container.spacebetween {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.colum.feature-box {
  width: 25%;
  margin: 0%;
  padding: 30px 20px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Lato, sans-serif;
  text-align: center;
}

.colum.feature-box:hover {
  background-color: #f9f5ff;
}

.colum.services-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  min-height: 350px;
  padding: 30px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-color: transparent;
  text-align: left;
}

.colum.services-box.bg {
  overflow: hidden;
  width: 40%;
  background-image: url('../images/bg-depilacao.jpg');
  background-position: 50% 0px;
  background-size: cover;
}

.colum.services-box.bg2 {
  width: 40%;
  background-image: url('../images/depilacao-com-linha.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.colum.services-box.bg3 {
  width: 40%;
  background-image: url('../images/bg-massagem.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.colum.services-box.bg4 {
  width: 40%;
  background-image: url('../images/shutterstock_189142331.jpg');
  background-position: 100% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.colum.services-box.bg5 {
  background-image: url('../images/shutterstock_495464569.jpg');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.colum.company-box {
  width: 33%;
  min-height: 300px;
  padding: 30px 50px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.colum.testimonial-box {
  display: block;
  width: 300px;
  min-height: 450px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.colum.testimonial-box.bg-depoimento {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 99%, .6), hsla(0, 0%, 99%, .6)), url('../images/bg-block.svg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 99%, .6), hsla(0, 0%, 99%, .6)), url('../images/bg-block.svg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.colum.team-box {
  width: 25%;
  min-height: 300px;
  padding: 50px 30px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.colum.team-box.bg {
  background-image: url('../images/NL22-story-telling-steve-jobs.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.colum.team-box.text-right {
  text-align: right;
}

.colum.team-box.bg2 {
  background-image: url('../images/computers-microsoft-windows-business-bill-gates-414x736-wallpaper.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.colum.team-box.bg3 {
  background-image: url('../images/large_torvaldsoregon.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.colum.team-box.bg4 {
  background-image: url('../images/Darth-Vader.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.colum.contact-box {
  width: 33.33%;
  padding: 50px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.colum.contact-box.text-left {
  width: 66%;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
  color: #000;
  text-align: left;
}

.colum.contact-box.odd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #7d8e8a;
  color: #c5c5c5;
}

.colum.contact-box.odd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fcfcfc;
  color: #3b0086;
}

.colum.services-box-full-width {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 350px;
  padding: 30px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: transparent;
  text-align: left;
}

.colum.services-box-full-width.bg {
  overflow: hidden;
  width: 45%;
  background-image: url('../images/bg-depilacao.jpg');
  background-position: 50% 0px;
  background-size: cover;
}

.colum.services-box-full-width.bg2 {
  width: 45%;
  background-image: url('../images/bg-cilios.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.colum.services-box-full-width.bg3 {
  width: 45%;
  background-image: url('../images/bg-massagem.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.colum.services-box-full-width.bg4 {
  width: 45%;
  background-image: url('../images/physiotherapy-567021_1280.jpg');
  background-position: 50% 50%;
  background-size: 640px;
  background-attachment: scroll;
}

.colum.services-box-full-width.bgg {
  background-image: -webkit-linear-gradient(270deg, rgba(30, 30, 30, .4), rgba(30, 30, 30, .4)), url('../images/bg-massagem.jpeg');
  background-image: linear-gradient(180deg, rgba(30, 30, 30, .4), rgba(30, 30, 30, .4)), url('../images/bg-massagem.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.colum.services-box-full-width.bgg3 {
  background-image: -webkit-linear-gradient(270deg, rgba(30, 30, 30, .4), rgba(30, 30, 30, .4)), url('../images/physiotherapy-567021_1280.jpg');
  background-image: linear-gradient(180deg, rgba(30, 30, 30, .4), rgba(30, 30, 30, .4)), url('../images/physiotherapy-567021_1280.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.colum.services-box-full-width.bgg2 {
  background-image: -webkit-linear-gradient(270deg, rgba(30, 30, 30, .4), rgba(30, 30, 30, .4)), url('../images/bg-depilacao.jpg');
  background-image: linear-gradient(180deg, rgba(30, 30, 30, .4), rgba(30, 30, 30, .4)), url('../images/bg-depilacao.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.circle {
  border-radius: 50%;
}

.service-item--title {
  position: relative;
  font-family: Lato, sans-serif;
  color: #092e00;
  font-size: 38px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: -1px;
}

.service-item--title.big {
  font-size: 30px;
  line-height: 30px;
}

.service-item--title.white {
  color: #fff;
}

.list-item {
  padding: 0px 10px 15px;
}

.feature-box--item-title {
  color: #3b0086;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: -1px;
}

.quote {
  font-family: Lato, sans-serif;
  color: #324c3b;
  font-size: 16px;
  line-height: 25px;
  font-style: italic;
  font-weight: 400;
}

.person-name {
  font-weight: 700;
  text-transform: uppercase;
}

.logos-slider {
  height: auto;
  padding-right: 10%;
  padding-bottom: 45px;
  padding-left: 10%;
  background-color: transparent;
  color: #3b0086;
}

.mask {
  padding-right: 0%;
  padding-left: 0%;
}

.slide {
  width: 20%;
}

.left-arrow {
  display: none;
  color: #3b0086;
}

.right-arrow {
  display: none;
  color: #3b0086;
}

.slidenav {
  bottom: 0px;
}

.lightbox-thumb {
  width: 20%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: center;
}

.lightbox-thumb.big {
  width: 40%;
}

.thumbnail {
  width: 100%;
}

.input {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 25px;
  color: #092e00;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.icon {
  display: inline-block;
  font-family: 'Fontawesome webfont', sans-serif;
  font-style: normal;
}

.icon.social-icon {
  margin: 15px 16px;
  color: #fcfcfc;
  font-size: 36px;
}

.social-icon-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.xpbox-link {
  color: #b4b4b4;
}

.brand {
  width: 230px;
}

.button-white {
  padding: 20px 40px;
  border: 2px solid #fcfcfc;
  background-color: transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fcfcfc;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: none;
}

.button-white:hover {
  background-color: hsla(0, 0%, 99%, .15);
  color: #fcfcfc;
}

.button-white:active {
  background-color: transparent;
  box-shadow: none;
}

.button-white:focus {
  background-color: transparent;
}

.button-white.fullwidth {
  width: 100%;
}

.paragraph {
  color: #7d8e8a;
  line-height: 24px;
  text-align: left;
}

.paragraph.white {
  color: #fcfcfc;
  text-align: left;
}

.header--img-woman {
  position: relative;
  left: 120px;
  bottom: -130px;
  overflow: hidden;
  width: 600px;
}

.button {
  padding: 15px 35px;
  border: 1px solid #324c3b;
  background-color: #092e00;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fcfcfc;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
}

.button:hover {
  border-style: solid;
  background-color: #fcfcfc;
  color: #092e00;
}

.button:active {
  background-color: #324c3b;
  box-shadow: none;
}

.button:focus {
  background-color: transparent;
  color: #324c3b;
}

.button.fullwidth {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.header--img-woman-copy {
  position: relative;
  left: 90px;
  bottom: -90px;
  width: 600px;
}

.colum--item {
  position: relative;
}

.colum--item.depilacao {
  left: 100px;
}

.colum--item--txt {
  position: absolute;
  width: 300px;
}

.colum--item--txt.depilacao {
  left: 50px;
}

.field-label {
  color: #7d8e8a;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #7d8e8a;
}

.body {
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 99%, .8), hsla(0, 0%, 99%, .8)), url('../images/bg-section.svg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 99%, .8), hsla(0, 0%, 99%, .8)), url('../images/bg-section.svg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, repeat-y;
}

.div-block {
  width: 300px;
  height: 3px;
}

.linha {
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #7d8e8a;
}

.footer-text-block {
  color: #324c3b;
}

.paragraph-txt {
  margin-bottom: 15px;
  color: #7d8e8a;
}

.link-maps {
  text-decoration: none;
}

.link {
  margin-bottom: 20px;
  color: #7d8e8a;
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

.link-block---social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(30, 30, 30, .4);
  background-image: -webkit-linear-gradient(315deg, hsla(0, 0%, 99%, .15) 47%, hsla(0, 0%, 100%, .15) 48%, transparent 50%);
  background-image: linear-gradient(135deg, hsla(0, 0%, 99%, .15) 47%, hsla(0, 0%, 100%, .15) 48%, transparent 50%);
  box-shadow: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: transparent;
}

.link-block---social:hover {
  background-color: rgba(30, 30, 30, .8);
  background-image: -webkit-linear-gradient(315deg, hsla(0, 0%, 99%, .15) 47%, hsla(0, 0%, 100%, .03) 48%, transparent 50%);
  background-image: linear-gradient(135deg, hsla(0, 0%, 99%, .15) 47%, hsla(0, 0%, 100%, .03) 48%, transparent 50%);
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, .25);
}

.form-block {
  display: block;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.button-white-whatsapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  padding: 20px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #fcfcfc;
  background-color: transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fcfcfc;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
}

.button-white-whatsapp:hover {
  background-color: hsla(0, 0%, 99%, .15);
  color: #fcfcfc;
}

.button-white-whatsapp:active {
  background-color: transparent;
  box-shadow: none;
}

.button-white-whatsapp:focus {
  background-color: transparent;
}

.button-white-whatsapp.fullwidth {
  width: 100%;
}

.font-awesome {
  margin-right: 10px;
  font-family: 'Fontawesome webfont', sans-serif;
  font-size: 42px;
  font-weight: 300;
  text-decoration: none;
}

.paragraph-whatsapp {
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.paragraph-whatsapp.white {
  color: #fcfcfc;
  text-align: left;
}

.linha-header {
  width: 100%;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #324c3b;
}

.width-limit {
  width: auto;
}

.scroller {
  position: absolute;
  bottom: 100px;
  z-index: 1;
  display: block;
  overflow: hidden;
  width: 4px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.scroller-inner {
  width: 5px;
  height: 50px;
  background-color: #324c3b;
}

.text-block {
  color: #fcfcfc;
}

.success-message {
  background-color: #324c3b;
}

.error-message {
  border: 1px solid #7d8e8a;
  background-color: #fcfcfc;
}

.text-block-2 {
  color: #b34c4c;
}

html.w-mod-js *[data-ix="fadedown"] {
  opacity: 0;
  -webkit-transform: translate(0px, -25px);
  -ms-transform: translate(0px, -25px);
  transform: translate(0px, -25px);
}

html.w-mod-js *[data-ix="fadedown-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, -25px);
  -ms-transform: translate(0px, -25px);
  transform: translate(0px, -25px);
}

html.w-mod-js *[data-ix="fadedown-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, -25px);
  -ms-transform: translate(0px, -25px);
  transform: translate(0px, -25px);
}

html.w-mod-js *[data-ix="fadeleftimg"] {
  opacity: 0;
  -webkit-transform: translate(-35px, 0px);
  -ms-transform: translate(-35px, 0px);
  transform: translate(-35px, 0px);
}

html.w-mod-js *[data-ix="faderigthimg"] {
  opacity: 0;
  -webkit-transform: translate(35px, 0px);
  -ms-transform: translate(35px, 0px);
  transform: translate(35px, 0px);
}

html.w-mod-js *[data-ix="lineinscroll"] {
  opacity: 0;
  width: 0%;
}

html.w-mod-js *[data-ix="fadedownonscroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, -35px);
  -ms-transform: translate(0px, -35px);
  transform: translate(0px, -35px);
}

html.w-mod-js *[data-ix="depoimento1"] {
  opacity: 0;
  -webkit-transform: translate(0px, -35px);
  -ms-transform: translate(0px, -35px);
  transform: translate(0px, -35px);
}

html.w-mod-js *[data-ix="depoimento-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, -35px);
  -ms-transform: translate(0px, -35px);
  transform: translate(0px, -35px);
}

html.w-mod-js *[data-ix="depoimento-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, -35px);
  -ms-transform: translate(0px, -35px);
  transform: translate(0px, -35px);
}

@media (max-width: 479px) {
  .navbar {
    display: block;
    padding: 15px 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-menu {
    width: 85%;
    padding-top: 80px;
    background-color: #1e1e1e;
    box-shadow: 0 -3px 6px 0 rgba(30, 30, 30, .15);
  }
  .navlink {
    color: #fcfcfc;
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
    text-align: center;
  }
  .navlink.w--current {
    color: #fcfcfc;
    text-decoration: line-through;
  }
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 620px;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .microcopy {
    margin-top: 120px;
  }
  .microcopy-tittle {
    font-size: 30px;
    line-height: 30px;
  }
  .microcopy-pre-title {
    font-size: 15px;
    font-weight: 900;
  }
  .button-line {
    border: 2px solid #324c3b;
    background-color: transparent;
    color: #324c3b;
  }
  .button-line:hover {
    background-color: #324c3b;
    color: #fcfcfc;
  }
  .button-line.fullwidth {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section.footer {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .container.flex {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section-header.center {
    padding-right: 15px;
    padding-left: 15px;
  }
  .section-header.margin-bottom.center {
    margin-bottom: 0px;
  }
  .section-title {
    width: 100%;
    font-size: 36px;
    line-height: 40px;
  }
  .section-header--text {
    margin-bottom: 20px;
  }
  .flex-container {
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .flex-container.no-margin.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .flex-container.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .flex-container.spacebetween {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .colum.feature-box {
    width: 100%;
  }
  .colum.services-box {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .colum.services-box.bg {
    position: relative;
    width: 100%;
    min-height: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .colum.services-box.bg2 {
    width: 100%;
    min-height: 250px;
  }
  .colum.services-box.bg3 {
    width: 100%;
    min-height: 250px;
  }
  .colum.services-box.bg4 {
    width: 100%;
    min-height: 250px;
  }
  .colum.company-box {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .colum.testimonial-box {
    width: auto;
    min-height: auto;
    margin-bottom: 15px;
  }
  .colum.team-box {
    width: 100%;
  }
  .colum.contact-box.odd {
    width: auto;
  }
  .colum.contact-box.odd {
    padding-bottom: 25px;
  }
  .colum.services-box-full-width {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .colum.services-box-full-width.bg {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .service-item--title {
    font-size: 36px;
  }
  .slide {
    width: 100%;
  }
  .left-arrow {
    display: none;
  }
  .right-arrow {
    display: none;
  }
  .lightbox-thumb {
    width: auto;
  }
  .button-menu.w--open {
    background-color: transparent;
  }
  .brand {
    width: 200px;
    padding-left: 0px;
  }
  .button-white {
    border: 2px solid #fcfcfc;
    background-color: transparent;
    color: #fcfcfc;
  }
  .button-white:hover {
    background-color: hsla(0, 0%, 99%, .15);
    color: #fcfcfc;
  }
  .header--img-woman {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
  }
  .icon-2 {
    color: #7d8e8a;
  }
  .image {
    width: 30px;
  }
  .button {
    border: 2px solid #324c3b;
    background-color: transparent;
    color: #324c3b;
  }
  .button:hover {
    background-color: #324c3b;
    color: #fcfcfc;
  }
  .header--img-woman-copy {
    left: 100px;
    bottom: 0px;
    width: 350px;
  }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-text-block {
    margin-bottom: 10px;
    text-align: center;
  }
  .paragraph-txt {
    margin-bottom: 20px;
  }
  .form-block {
    position: static;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .button-white-whatsapp {
    width: 70%;
    border: 2px solid #fcfcfc;
    background-color: transparent;
    color: #fcfcfc;
  }
  .button-white-whatsapp:hover {
    background-color: hsla(0, 0%, 99%, .15);
    color: #fcfcfc;
  }
  .paragraph-whatsapp {
    margin-right: 0%;
    margin-left: 0px;
  }
  .image-2 {
    position: relative;
    left: 100px;
    width: 350px;
  }
  .scroller {
    left: 75px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}